<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>@ViewData["Title"] - Portfolio</title>
    <link rel="stylesheet" href="//fonts.googleapis.com/css?family=Dancing+Script:700" />
    <!-- build:css(wwwroot/) ~/css/site.min.css -->
    <!-- bower:css -->
    <!-- endbower -->
    <!-- inject:css -->
    <link rel="stylesheet" href="~/css/site.css" />
    <!-- endinject -->
    <!-- endbuild -->
</head>
<body ng-app="brianPortfolioApp">
<script src="https://www.google.com/recaptcha/api.js?render=6LcBrpkUAAAAAHmV3ABxN6OhYGfFQ-CZ3tQkS_4v"></script>
<script>
    grecaptcha.ready(function () {
        grecaptcha.execute('6LcBrpkUAAAAAHmV3ABxN6OhYGfFQ-CZ3tQkS_4v', { action: 'homepage' }).then(function (token) {
        });
    });
</script>
    <div ng-controller="MainCtrl as $ctrl">
        <header id="Home">
            <div class="parallax-container hidden-xs visible-sm-block visible-md-block visible-lg-block">
                <div class="parallax-layer layer-0" data-parallax-speed="0.05"></div>
                <div class="parallax-layer layer-1" data-parallax-speed="0.05"></div>
                <div class="parallax-layer layer-2" data-parallax-speed="0.05"></div>
                <div class="parallax-layer layer-3" data-parallax-speed="0.07"></div>
                <div class="parallax-layer layer-4" data-parallax-speed="0.1"></div>
                <div class="parallax-layer layer-5" data-parallax-speed="0.2"></div>
                <div class="parallax-layer layer-6" data-parallax-speed="0.3"></div>
                <div class="parallax-layer layer-7" data-parallax-speed="0.4"></div>
                <div class="parallax-layer layer-8" data-parallax-speed="0.5"></div>
                <div class="parallax-layer layer-9" data-parallax-speed="0.6"></div>
                <div class="parallax-layer cover" data-parallax-speed="0.6"></div>
            </div>
            <div id="navBar" class="header-content clearfix section">
                <nav id="header-nav" class="center">
                    <p class="text-left navline">
                        <a class="page-scroll" href="#Home">Home</a>
                    </p>
                    <p class="text-left navline">
                        <a class="page-scroll" href="#Portfolio">Work</a>
                    </p>
                    <p class="text-left navline">
                        <a class="page-scroll" href="#Technologies">Tech</a>
                    </p>
                    <p class="logo">
                        <a href="#Home"><img src="../images/logoG.png" alt="Built by Brian Harney - Black Bear Design" /></a>
                    </p>
                    <p class="text-right navline">
                        <a class="page-scroll" href="https://twitter.com/bharney0">Feed</a>
                    </p>
                    <p class="text-right navline">
                        <a class="page-scroll" href="#About">About</a>
                    </p>
                    <p class="text-right navline">
                        <a href="#" title="Contact Brian Harney. Feel free to get in touch for any projects, contract work, and or just a friendly hello!" ng-click="$ctrl.open();">Contact</a>
                    </p>
                </nav>
                <div id="heroText" class="inner backdrop">
                    <h1 class="cursive wow fadeInLeftBig">Brian Harney</h1>
                    <h2><strong>Full Stack Software Engineer</strong></h2>
                    <hr>
                </div>
            </div>
        </header>
        <div id="nav">
            <div id="custom-nav" class="navbar navbar-default navbar-static-top">
                <div class="container-fluid">
                    <div class="navbar-header">
                        <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#js-navbar-collapse">
                            <span class="sr-only">Toggle navigation</span>
                            <span class="icon-bar"></span>
                            <span class="icon-bar"></span>
                            <span class="icon-bar"></span>
                        </button>
                        <a class="navbar-brand page-scroll" href="#Home"><span class="glyphicon glyphicon-tree-conifer" aria-hidden="true"></span>  Brian Harney</a>
                    </div>
                    <div class="navbar-collapse collapse" id="js-navbar-collapse">
                        <ul class="nav navbar-nav navbar-right">
                            <li>
                                <a class="page-scroll" href="#Portfolio">Portfolio</a>
                            </li>
                            <li>
                                <a class="page-scroll" href="#Technologies">Technologies</a>
                            </li>
                            <li>
                                <a target="_blank" class="page-scroll" href="https://twitter.com/bharney0">Feed</a>
                            </li>
                            <li>
                                <a class="page-scroll" href="#About">About</a>
                            </li>
                            <li>
                                <a title="Contact Brian Harney" style="cursor:pointer" ng-click="$ctrl.open()">Contact</a>
                            </li>
                        </ul>
                    </div>
                </div>
            </div>
        </div>
        @RenderBody()
    </div>
    <script type="text/ng-template" id="contactModal.html">
        <div class="modal-header">
            <h2 class="modal-title text-center" id="modal-title">Contact me<i ng-click="$ctrl.cancel()" class="glyphicon glyphicon-remove fa-1x pull-right"></i></h2>
        </div>
        <div class="modal-body" id="modal-body">
            <div class="circle-img img-circle center-block">
                <img src="/images/CircleHead.png" class="img-circle" alt="Brian Harney" />
            </div>
            <section class="no-padding" id="contact">
                <div class="text-center">
                    <h4>
                        Contact me with any questions, opportunities or contract work.<br />
                        115 Moss Ave,<br />
                        Oakland, CA 94611<br />
                        (630) 849-6948<br />
                        <a href="mailto:bharney0@gmail.com" target="_top">bharney0@gmail.com</a>
                    </h4>
                </div>
                <form action="/" method="post">
                    <formid role="form" class="form-group">
                        <input required type="text" ng-model="email.Name" name="Name" class="form-control form-group" placeholder="Name">
                        <input type="email" ng-model="email.EmailAddress" name="EmailAddress" class="form-control form-group" placeholder="Email">
                        <input type="text" ng-model="email.Phone" name="Phone" class="form-control form-group" placeholder="Phone">
                        <textarea style="width:100%;" ng-model="email.Message" name="Message" spellcheck="true" class="form-control form-group" rows="4" placeholder="Your message here.."></textarea>
                        <input type="hidden" name="recaptcha_response" id="recaptchaResponse">
                    </formid>
                </form>
            </section>
        </div>
        <div class="modal-footer">
            <div class="col-xs-offset-2 col-xs-8">
                <button class="btn btn-success btn-lg btn-block center-block" type="button" ng-click="$ctrl.ok()"><span>Send <i class="glyphicon glyphicon-send"></i></span></button>
            </div>
        </div>
    </script>


    <!-- build:js(wwwroot/) ~/js/site.min.js -->
    <!-- bower:js -->
    <script src="~/lib/angular/angular.js"></script>
    <script src="~/lib/angular-animate/angular-animate.js"></script>
    <script src="~/lib/angular-bootstrap/ui-bootstrap-tpls.js"></script>
    <script src="~/lib/angular-cookies/angular-cookies.js"></script>
    <script src="~/lib/angular-resource/angular-resource.js"></script>
    <script src="~/lib/angular-route/angular-route.js"></script>
    <script src="~/lib/angular-sanitize/angular-sanitize.js"></script>
    <script src="~/lib/angular-touch/angular-touch.js"></script>
    <script src="~/lib/jquery/dist/jquery.js"></script>
    <script src="~/lib/bootstrap-sass-official/assets/javascripts/bootstrap.js"></script>
    <script src="~/lib/jquery.easing/js/jquery.easing.js"></script>
    <script src="~/lib/jquery-mousewheel/jquery.mousewheel.js"></script>
    <script src="~/lib/jquery-ui/jquery-ui.js"></script>
    <script src="~/lib/simplr-smoothscroll/lib/jquery.simplr.smoothscroll.min.js"></script>
    <!-- endbower -->
    <!-- inject:js -->
    <script src="~/js/app.js"></script>
    <script src="~/js/index.js"></script>
    <script src="~/js/parallax.js"></script>
    <script src="~/js/controllers/main.js"></script>
    <!-- endinject -->
    <!-- endbuild -->
</body>
</html>
